# general python things to ignore
build/
*.py[cod]
__pycache__/
*.so
*~
.env
*.pyc
*.egg-info/
*.egg

#settings
settings/*
!settings/.gitkeep

#logs
logs/*
!logs/.gitkeep

#output
saved_data/*

#build 
build/
built_msi/
built_DM_Data_Storager/
