.vscode/settings.json

*.pyc
*.egg-info/
*.egg
/src/datamatrix_data_storage.egg-info

# Files of robot test results
log.html
output.xml
report.html
/log.html
/output.xml
/report.html

/tests/output/
!/tests/output/.gitkeep

# general python things to ignore
venv/
build/
dist/
.pytest_cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.env

#logs
logs/*
!logs/.gitkeep