<html>

<head>
    <meta charset="utf-8">

    <title>Datamatrix Storager Server log</title>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/log.js') }}"></script>

    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/custom.css')}}">
</head>

<body id="main">
    <div class="row">

        <h2 align="center">Server logs:</h2>
        <div class="logging_window">
            <pre id="output"></pre>
        </div>

    </div>
</body>

</html>